#canvas {
    border: thick ridge #E56FF9;
	margin-left:300px;	
	margin-right:300px;
	background-color : white;
}

#menu{
	margin-left:300px;	
	margin-right:300px;
}

#audio{
	margin-left:300px;	
	margin-right:300px;
	
}

#renseignement{
	margin-left:300px;	
	margin-right:300px;
	color : black;
	font-size: 14px;
	background-color : #EABFF8;

}